server {
    listen   80;
    server_name worktitle.dev;
    rewrite ^(.*) http://worktitle.dev$1 permanent;
}

server {
    listen   80;
    server_name worktitle.dev;

    # root directive should be global
    root   /home/vagrant/sites/farther-workday/public_html/webroot/;
    index  index.php;

    access_log  /var/log/nginx/worktitle.access.log;
    error_log   /var/log/nginx/worktitle.error.log;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        include /etc/nginx/fastcgi_params;
        fastcgi_pass    127.0.0.1:9000;
        fastcgi_index   index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}